.section-accordion {
    padding-bottom: 4rem;
    padding-top: 4rem;
    position: relative;
    @include media-breakpoint-up(lg) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    @include media-breakpoint-up(xxl) {
        padding-bottom: 8rem;
    }
    
    &__header {
        max-width: 20ch;
        margin: 1rem 0;
        color: $purple-light;

        p {
            margin-bottom: 0;

            strong {
                color: $purple-light;
            }
        }
    }

    .accordion {
        &-item {
            background-color: $dark;
            border: none;

            &:has(.accordion-button[aria-expanded="true"]) {
                h3 {
                    color: $white;
                }

                .accordion-icon {
                    background: $purple-med;
                    border: 1px solid $purple-med;

                    &__line {
                        background: $white;
                        height: 3px;
                    }

                    &__line:last-of-type {
                        opacity: 0;
                    }
                }

            }

            &:last-of-type {
                .accordion-button {
                    border-bottom: none;
                }
            }
        }

        .accordion-item:last-of-type .accordion-button.collapsed {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &-block {
            position: relative;
            display: flex;
            align-items: center;
        }

        &-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 6%;
            background: transparent;
            position: relative;
            border: 1px solid $white;
            transition-duration: 0.3s;
            @include media-breakpoint-up(lg) {
                margin-right: 1.5rem;
            }

            &__line {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
                height: 2px;
                background: $white;

                &:last-of-type {
                    transform: translate(-50%, -50%) rotate(90deg);
                    // opacity: 0;
                }
            }
        }

        &-header {
            color: $white;
            width: 75%;
            transition-duration: 0.3s;
            line-height: 1.3;
            font-size: 1.25rem;
            @include outfit-700;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
                &:hover { 
                    color: $purple-light; 
                }
            }
        }

        &-collapse {
            color: $white;
        }

        &-body {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            max-width: 90ch;
            @include outfit-600;
            line-height: 1.6;

            ul {
                @include outfit-600;
                line-height: 1.8;

                li {
                    font-size: 1.125rem;
                }
            }

            a:not(.btn) {
                color: $purple-light;
                font-weight: 700;
                word-break: break-word;
            }

            .btn {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        &-button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: $white;
            box-shadow: none;
            margin: 0 auto;
            transition-duration: 0.3s;
            border-bottom: 1px solid $white;

            &[aria-expanded="true"] {
                border-bottom: 1px solid transparent;
            }

            &::after {
                display: none;
            }
        }
    }
}