.banner-simple-sec {
    .banner-simple {
        padding-top: 7rem;
        padding-bottom: 7rem;
        position: relative;
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 8.5rem;
            padding-bottom: 8.5rem;
        }

        &.padding-min {
            padding-bottom: 1.5rem;
        }
        
        .content-wrap {
            display: grid;
            margin: 0 auto;
            grid-template-rows: repeat(10, auto);
            height: 100%;
        }

        .text-wrap {
            grid-row: 2/3;
            text-align: center;

            &.align-left {
                text-align: left !important;
            }
            
            @include media-breakpoint-up(md) {
                grid-row: 3/4;
            }
        }

        .button-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-row: 6/7;
            @include media-breakpoint-up(md) {
                grid-row: 8/9;
                flex-direction: row;
                justify-content: center;
            }
        }

        .btn-arrow {
            margin: 2rem auto 0;
            grid-row: 3/4;
            @include media-breakpoint-up(md) {
                grid-row: 4/5;
            }

            svg {
                position: absolute;
                transform-origin: center center;
                transform: translate(-50%, -50%) rotate(90deg);
                left: 50%;
                top: 50%;
            }
        }

        &--lead {
            color: $white;
            @include outfit-700;
        }

        &--header {
            color: $white;
            margin-bottom: 2rem;
            padding: 0;
            max-width: 26ch;
            color: $purple-light;
        }

        &--subheader {
            color: $white;
            max-width: 55ch;
            margin-bottom: 2rem;
            font-weight: 600;
            font-size: 1.625rem;
            line-height: 1.4;
            @include media-breakpoint-up(lg) {
                max-width: 50ch;
                font-size: 1.875rem;
            }
        }

        &--body_text {
            @include outfit-700;
            font-size: 1.5rem;
            max-width: 80ch;
            margin: 0 auto;
            color: $white;

            p {
                color: $white;

                a {
                    color: $purple-light;
                }
            }
        }

        &--long_text {
            @include outfit-500;
            font-size: 1.25rem;
            max-width: 68ch;
            margin: 0 auto;
            color: $white;

            @include media-breakpoint-up(md) {
                font-size: 1.375rem;
            }

            strong {
                color: $purple-light;
                font-weight: 800;
            }
        }
        
        &--image {
            width: 80%;
            margin: 3rem auto 0;
            object-fit: contain;
            border: 1px solid $white;
            @include media-breakpoint-up(md) {
                width: 100%;
                max-width: 350px;
            }
        }

        &--caption {
            color: $white;
            margin-top: 3rem;
            padding: 0 0.5rem;
            line-height: 1.75;
            @include media-breakpoint-up(md) {
                padding-left: 3rem;
            }
            @include media-breakpoint-up(xl) {
                padding-left: 4rem;
            }
            @include media-breakpoint-up(xxl) {
                padding-left: 5rem;
            }
        }
    }
}