// Global
.btn {
    width: fit-content;
    min-width: 250px;
    padding: 1rem 2.25rem;
    font-size: 1.25rem;
    @include outfit-700;
    transition-duration: 0.2s;
    border-radius: 40px;
    line-height: 1.7;
    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }

    &-primary {
        color: $white;
        background-color: $green-dark;
        border: 2px solid $green-dark;

        &:hover, &:focus, &:focus-visible, &:active {
            color: $dark;
            background-color: $white;
            border: 2px solid $white;
        }
    }

    &-primary--alt {
        color: $white;
        background-color: $green-dark;
        border: 2px solid $green-dark;

        &:hover, &:focus, &:focus-visible, &:active {
            color: $white;
            background-color: $dark;
            border: 2px solid $dark;
        }
    }

    &-secondary {
        color: $white;
        background-color: transparent;
        border: 2px solid $white;
        
        &:hover, &:focus, &:focus-visible, &:active {
            color: $dark;
            background-color: $white;
            border: 2px solid $white;
        }
    }

    &-tertiary, &-tertiary--blue {
        font-size: 1.125rem;
        font-weight: 700;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        min-width: 0;

        span {
            color: $green;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 2.2;
            transition: color 0.2s;
            @include media-breakpoint-up(lg) {
                color: $white;
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            background: $dark;
            border-radius: 50%;
            margin-top: -0.125rem;
            margin-left: 0.75rem;
            padding: 0.375rem;
            transform: translateX(0);
            transition: transform 0.2s ease-in-out;
            background: $green;

            path {
                stroke: $dark;
                stroke-width: 3px;
            }
        }

        &:hover {
            @include media-breakpoint-up(lg) {
                span {
                    color: $green;
                }
                svg {
                    transform: translateX(5px);
                }
            }
        }

    }
    
    &-tertiary--blue {
        span { color: $dark; }
        svg {
            background: $green;

            path {
                stroke: $white;
                stroke-width: 3px;
            }
        }   
        @include media-breakpoint-up(lg) {
            &:hover {
                color: $green;
                span { color: $green; }
                svg { transform: translateX(5px); }
            }
        }
    }

    &-arrow {
        width: 4.5rem;
        height: 4.5rem;
        min-width: 0;
        margin: 0 1.5rem;
        padding: 0;
        border-radius: 50%;
        border: 3px solid $purple-light;
        position: relative;
        transition-duration: 0.3s;
        cursor: pointer;

        svg {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition-duration: 0.3s;

            path {
                stroke: $purple-light;
                stroke-width: 10px;
                transition-duration: 0.3s;
            }
        }

        &-prev {
            svg {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        &:hover {
            border: 3px solid $purple !important;
        }

        @include media-breakpoint-up(lg) {
            &:hover {
                background: $purple;
                transition-duration: 0.3s;
    
                svg {
                    path {
                        stroke: $white;
                    }
                }
            }
        }

        &.dark {
            background: $dark;
        }
    }
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    background-color: transparent;
    color: $green;
    border: 3px solid $green;
    opacity: 0.3;   
}