$white: #ffffff;
$dark: #0b093c;
$purple: #564bc6;
$purple-med: #605bf3;
$purple-light: #a9a7ff;
$green: #8feccd;
$green-dark: #00a792;
$green-light: #cfeae1;

$yellow: #fed3af;
$red: #e46f6f;

$theme-colors: (
    "white": $white,
    "dark": $dark,
    "purple": $purple,
    "green": $green,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    xs: 90%,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);