.image-two-col-sec {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include media-breakpoint-up(lg) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .image-two-col {
        &--header {
            color: $white;
            text-align: center;
            margin: 0 auto 1.5rem;
            padding: 0;
            max-width: 18ch;
            color: $purple-light;
            @include media-breakpoint-up(lg) {
                margin-bottom: 3rem;
            }
        }

        &--body {
            color: $white;
            text-align: center;
            margin-bottom: 3.5rem;
            @include media-breakpoint-up(lg) {
                max-width: 60ch;
                margin: 0 auto 4.5rem;
            }
        }
    }

    .block-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        color: $white;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            align-items: start;
            justify-content: center;
        }
        @include media-breakpoint-up(xl) {
            max-width: 1200px;
            margin: 0 auto;
        }

        .line-sep {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 100%;
            background: $white;
        }
        
        &--column {
            padding-top: 2rem;
            padding-bottom: 2rem;
            @include media-breakpoint-up(md) {
                padding-top: 0;
                padding-left: 2rem;
                padding-right: 2rem;
            }
            @include media-breakpoint-up(lg) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
            @include media-breakpoint-up(xl) {
                padding-left: 4.5rem;
                padding-right: 4.5rem;
            }

            &:first-of-type {
                border-bottom: 1px solid $white;
                padding-top: 0;
                @include media-breakpoint-up(md) {
                    border-bottom: none;
                }
            }

            &__header {
                text-align: center;
                color: $purple-light;
                
                @include media-breakpoint-up(lg) {
                    max-width: 31ch;
                    margin: 0 auto;
                }

                p {
                    margin-bottom: 0;
                }
            }

            &__subheader {
                text-align: center;
            }

            &__body {
                font-size: 1.25rem;
            }

            &__image {
                width: 100%;
                height: 240px;
                
                @include media-breakpoint-up(lg) {
                    height: 300px;
                    margin: 1rem auto;
                }
                // @include media-breakpoint-up(xl) {
                //     height: 390px;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
            }

            &__caption {
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
}