body {
    background: $dark;
    padding-bottom: 5rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    @include media-breakpoint-down(sm) {
        max-width: 90%;
    }
}

.section-anchor {
    position: absolute;
    top: -48px;
    left: 0;
    @include media-breakpoint-up(lg) {
        top: -84px;
    }
}

.header {
    &--no-navigation {
        
        .header-wrap {
            // display: grid;
            // grid-template-columns: repeat(12, auto);
            height: auto;
            padding: 1.5rem 1.75rem;
            margin: 0 auto;
            @include media-breakpoint-up(lg) {
                padding: 2rem 3rem;
            }
            
            .logo {
                width: 160px;
                height: auto;
                padding: 0;
                @include media-breakpoint-up(lg) {
                    width: 200px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

    }
}