.testimonial-swiper-sec {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    @include media-breakpoint-up(lg) {
        padding-top: 9rem;
        padding-bottom: 9rem;        
    }

    .container {
        @media ( min-width: 300px) and (max-width: 429px) {
            max-width: 350px;
        }
        @media (min-width: 430px) and ( max-width: 576px) {
            max-width: 390px;
        }
    }

    .header-wrap {
        @include media-breakpoint-up(xl) {
            border-right: 2px solid $white;
            padding-right: 3rem;
        }
    }

    .header {
        color: $purple-light;
        max-width: 14ch;
        // font-size: 3rem;
        // line-height: 1.1;
        // transform: translateY(30px);
        // opacity: 0;

        p {
            @include media-breakpoint-up(xl) {
                font-size: 3rem;
            }

            strong {
                color: $purple-light;
            }
        }
    }

    .subheader {
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        color: $white;
        font-size: 1.5rem;
        line-height: 1.3;
        @include outfit-600;
        // transform: translateY(30px);
        // opacity: 0;
        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    .swiper {
        @include media-breakpoint-up(xl) {
            margin-right: 0;
            margin-left: 4.5rem;
        }
        @include media-breakpoint-up(xxl) {
            margin-left: 3rem;
        }

        &-slide {
            color: $white;
            @include media-breakpoint-up(xl) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                justify-content: start;
                align-items: start;
            }

            &--body {
                margin-bottom: 1.5rem;
            }

            &--body, &--body > p {
                @include outfit-600;
                font-size: 1.325rem;       
                line-height: 1.4;

                @include media-breakpoint-up(xl) {
                    font-size: 1.75rem;
                }

                strong {
                    color: $purple-light;
                    @include outfit-700;
                }
            }

            .person {
                @include media-breakpoint-up(xl) {
                    display: flex;
                    align-items: center;
                }
            }

            &--name {
                @include outfit-600;
                font-size: 1.25rem;
            }

            &--title {
                @include outfit-600;
                font-size: 1.25rem;
            }

            &--image {
                width: 140px;
                height: 140px;
                margin: 0 0 2rem 0;
                overflow: hidden;
                border: 3px solid $white;
                border-radius: 50%;
                // transform: translateY(40px);
                // opacity: 0;

                @include media-breakpoint-up(xl) {
                    margin-bottom: 0;
                    margin-right: 2rem;
                    width: 120px;
                    height: 120px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            // &--body, &--name, &--title {
            //     // transform: translateX(-30px);
            //     // opacity: 0;
            // }
        }


        &-buttons {
            margin-left: 0;
        }

        &-button {
            margin: 0 1rem;

            &-prev {
                margin-left: 1rem;
            }
        }
    }
}