<section class="section banner-simple-sec {% if module.theme_color == 'light' %}theme-light{% endif %}">
    <div class="container banner-simple {% if module.minimize_bottom_padding %}pb-min{% endif %} {% if module.minimize_top_padding %}pt-min{% endif %}">
        <div class="row content-wrap {% if module.align_left %} ms-0 {% endif %}">
            <div class="text-wrap {% if module.align_left %} align-left {% endif %}">
                {% if module.lead %}
                    <h4 class="banner-simple--lead mb-4">{{ module.lead }}</h4>
                {% endif %}
                <h2 class="banner-simple--header">{{ module.header }}</h2>
                <h3 class="banner-simple--subheader">{{ module.subheader }}</h3>
                {% if module.body_text|striptags|trim|length > 0 %}
                    <div class="banner-simple--body_text">{{ module.body_text }}</div>
                {% endif %}
                {% if module.long_text %}
                    <div class="banner-simple--long_text">{{ module.long_text }}</div>
                {% endif %}
            </div>

            {% if module.link_text_1 %}
            <div class="button-wrap mt-2">
                {% if module.link_text_1 %}
                    {% if module.anchor_link %}
                        <a href="{{ module.anchor_link }}" class="btn btn-primary mt-4 mx-lg-3" aria-label="Link to {{ module.anchor_link}} section" role="button">{{ module.link_text_1 }}</a>
                    {% else %}
                        <a href="{{ module.link_url_1 }}" class="btn btn-primary mt-4 mx-lg-3">{{ module.link_text_1 }}</a>
                    {% endif %}
                {% endif %}
                {% if module.link_text_2 %}
                   <a href="{{ module.link_url_2 }}" class="btn btn-secondary mt-4 mx-lg-3">{{ module.link_text_2 }}</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section><!-- module html  -->
