<section class="section banner-simple-sec">
    <div class="container banner-simple">
        <div class="row content-wrap">
            <div class="text-wrap">
                <h2 class="banner-simple--header">{{ module.header }}</h2>
                <h3 class="banner-simple--subheader">{{ module.subheader }}</h3>
                <div class="banner-simple--body_text">{{ module.body_text }}</div>
            </div>

            {% if module.link_text_1 %}
            <div class="button-wrap mt-3">
                {% if module.link_text_1 %}
                   <a href="{{ module.link_url_1 }}" class="btn btn-primary mt-4 mt-lg-5 mx-lg-3">{{ module.link_text_1 }}</a>
                {% endif %}
                {% if module.link_text_2 %}
                   <a href="{{ module.link_url_2 }}" class="btn btn-secondary mt-4 mt-lg-5 mx-lg-3">{{ module.link_text_2 }}</a>
                {% endif %}
            </div>
            {% endif %}

            {% if module.anchor_link %}
                <a href="{{ module.anchor_link }}" class="btn btn-arrow" aria-label="Link to {{ module.anchor_link}} section" role="button">
                    {% include "../../templates/partials/icon-arrow.html" %}
                </a>
            {% endif %}
        </div>
    </div>
</section><!-- module html  -->
